In [2]:
from rubin_scheduler.utils import ddf_locations
import pandas as pd

In [3]:
locations = ddf_locations()

In [4]:
locations

{'ELAISS1': (9.45, -44.025),
 'XMM_LSS': (35.574999999999996, -4.816666666666666),
 'ECDFS': (52.979166666666664, -28.116666666666667),
 'COSMOS': (150.1083333333333, 2.233611111111111),
 'EDFS_a': (58.9, -49.32),
 'EDFS_b': (63.6, -47.6)}

In [5]:
ack = []
for key in locations:
    ack.append({'Short Name': key, 'RA': locations[key][0], 'Dec': locations[key][1]})

df = pd.DataFrame(ack)

In [6]:
df

  Short Name          RA        Dec
0    ELAISS1    9.450000 -44.025000
1    XMM_LSS   35.575000  -4.816667
2      ECDFS   52.979167 -28.116667
3     COSMOS  150.108333   2.233611
4     EDFS_a   58.900000 -49.320000
5     EDFS_b   63.600000 -47.600000

In [7]:
print(df.to_latex(float_format='%.3f', index=False))

\begin{tabular}{lrr}
\toprule
Short Name & RA & Dec \\
\midrule
ELAISS1 & 9.450 & -44.025 \\
XMM_LSS & 35.575 & -4.817 \\
ECDFS & 52.979 & -28.117 \\
COSMOS & 150.108 & 2.234 \\
EDFS_a & 58.900 & -49.320 \\
EDFS_b & 63.600 & -47.600 \\
\bottomrule
\end{tabular}